* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}

.sectionCards {
  width: 80%;
  display: grid;
  min-height: 80vh;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding-top: 15%;
  margin: auto;
}

.sectionCards img {
  max-width: 100%;
  height: auto;
}
