.divContainerNav > img {
  width: 50px;
}
.divContainerNav {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  height: 10vh;
  gap: 10px;
  align-items: center;
  padding-bottom: 50px;
  padding: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.navIndex {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 30%;
  flex-grow: 1;
}
.navIndex > button {
  width: fit-content;
}
.formSearch > img {
  width: 25px;
}
.formSearch {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  width: 50%;
  height: 44px;
  padding-left: 20px;
  border-radius: 22px;
}
.formSearch > input {
  border: none;
  background-color: #eaeaea;
  outline: none;
  padding-left: 10px;
  font-size: medium;
  width: 100%;
}
.serchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(190, 28, 28);
  color: white;
}
.notification {
  height: 37px;
}
.divIndex > a > img {
  width: 38px;
  cursor: pointer;
}

.divIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  gap: 12px;
}
.buscarMas {
  width: 100px;
  color: white;
  background-color: black;
  height: 40px;
  display: flex;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 15px;
  border-radius: 25px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 45px;
}
@media screen and (max-width: 975px) {
  .divContainerNav {
    display: flex;
    flex-wrap: wrap;
  }
  .navIndex {
    display: none;
  }
  .buscarMas {
    margin-left: 0%;
  }
}
@media screen and (max-width: 746px) {
  .divContainerNav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .buscarMas {
    margin-left: 0%;
  }
  .navIndex {
    display: none;
  }
  .divIndex {
    display: none;
  }
}
